<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue.js (1)</title>
</head>
<body>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>

    <!-- class-8 -->
    
    <!-- <div id="app_8">

        <my-count texts="+1"></my-count>
        
        <br> <br>

        <my-count texts="+one"></my-count>
        

    </div>

    <script type="text/javascript">

    

    Vue.component('my-count',{
        props: ['texts'],
        template: '<div><input type="button" @click="counter+=1" :value="texts"> <span> counter {{counter}} </span></div>',
        data: function(){
            return {
                counter:0
            }
        }
    })

    var vue_8 = new Vue({

        el:"#app_8",
        data:{
            
        },
    });

    </script> -->
    
    <!-- class-7 -->

    <!-- <div id="app_7">

        {{/* 2 ways to call click function: 1-"v-on:click" 2-"@click" */}}

        <button v-on:click="count += 1">    +1  </button> <span>    In incrementing with {{ count }}</span>

        <br> <br>

        {{/* using method*/}}
        <button v-on:click="increment">    +1  </button> <span>    In incrementing with {{ counter }}</span>

        <br> <br>

        <a href="sdkiufhsd" @click="increment">+1</a> <span>    In incrementing with {{ counter }}</span>

        <br> <br>

        <input type="text" v-on:keyup.ctrl.v="restriction">

    </div>

    <script type="text/javascript">

    var vue = new Vue({
        el:'#app_7',
        
        data:{
            count: 0,
            counter: 0
        },

        methods: {
            increment: function(prevent) {
                prevent.preventDefault();
                return this.counter += 1;
            },
            restriction(){
                alert ("ctrl+v is not allowed");
            }
        }
    });

    </script> -->

    <!-- class 6 -->
    
    <!-- <div id="app_6">  

        {{/*if condition*/}}

        
        <p v-if="books == 'full' "> 5   </p>
        <p v-if="books == 'ost' ">  Out of stock    </p>
        <p v-else>  Hell Yeah   </p>

        {{/*Loop along with if condition, If we use template then we can use multiple tags in one condition */}}
        <template v-if="books == 'full' "> <h1>   5  </h1>   </template>
        <template v-if="books == 'ost' ">   <h1>  Out of stock  </h1>    </template>
        <template v-else>  
            <ul>
                {{/*formation: variable (value, index, key)  in array*/}}
                <li v-for="(book, sl) in setBooks">
                    {{ [sl + 1] }} {{book}}
                </li>
            </ul>
        </template>

    </div>

    <script type="text/javascript">

        var vue = new Vue({

            el: '#app_6',
            data:{
                books: 'empty',
                setBooks: [
                    'Math', 'Physics', 'Chemistry', 'Computer',]
            },
        });

    </script> -->

    <!-- class-5 -->
    
    <!-- <div id="app_5">
        <input type="text" v-model = "first_name">
        <br>
        <input type="text" v-model = "last_name">
        
        <p>{{name}}</p>

        <p>{{name_computed}}</p>
    </div>
    
    
    <script type="text/javascript">
        var vue = new Vue({
            
            el: '#app_5',
            data:{
                first_name: 'hanzo',
                last_name: 'the salamander',
                name: ''
            },
            // watch: {
            //     first_name: function(){
            //         return this.name = this.first_name + ' ' + this.last_name
            //     },

            //     last_name: function(){
            //         return this.name = this.first_name + ' ' + this.last_name
            //     }
            // },

            computed:{
                name_computed:function(){
                    return this.first_name + ' ' + this.last_name;
                    }
                },
                updated: function(){
                    return console.log ('Updates');
            }

        });
    </script> -->

    <!-- class-4 -->

    <!-- <div id="app_">
        {{message}}
    </div>

    
    <script type="text/javascript">

        var vue = new Vue({

            el:'#app_4',
            data:{
                message: "Hello People"
            },
            created: function(){
                return console.log("don't know what I am doing : created")
            }, 
            mounted: function(){
                return console.log("don't know what I am doing : mounted")
            },
            update: function(){
                return console.log("don't know what I am doing : update")
            },
            destroyed: function(){
                return console.log("don't know what I am doing : destroyed")
            },
        });

    </script> -->
    
</body>
</html>